body {
    background: url(https://thumbs.dreamstime.com/z/bokeh-background-christmas-tree-decoration-46320638.jpg);
}

p {
    color: orange;
}

div {
    background-color: green;
    border-color: blue;
    border-width: medium;
    border-style: dashed;
}

span {
    color: purple;
}